/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*------------------TOP BAR STYLES ------------------*/
select{
	width: 100% !important;
}
.page-id-349395  select#input_3_13{
	    background-color: #f7f7f5;
		border: 1px solid #e1e1dd;
}
select.facetwp-per-page-select{
	width: auto !important;
}
ul#topbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.fl-page-header-primary img.fl-logo-img {
    height: 120px !important;
}

ul#topbar li {
    float: left;
    list-style-type: none;
}

ul#topbar li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

ul#topbar li a:hover {
    color: #111111;
}

.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
    color: #ffffff !important;
}

.product-grid .fl-button:hover {
    background-color: transparent !important;
}

.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    width: 60px!important;
    max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2px!important;
}

input#gform_submit_button_3,
.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}
.product-plp-grid .product-grid.btn-grey>.fl-button.plp_box_btn:hover{
	color: #000 !important;
}

input#gform_submit_button_3,
.product-grid .fl-button span {
    color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover {
    background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

form select {
    padding: 6px 0px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    margin-top: 3px!important;
    vertical-align: top!important;
}

.gform_wrapper#gform_wrapper_3 ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper#gform_wrapper_3 ul.gfield_radio li input[type=radio] {
    margin-top: 6px!important;
    vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
    vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    width: 100%;
}
@media(min-width:992px){
	.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 15px;
}
}


/*------------------END TOP BAR STYLES ------------------*/

.storename{
    list-style: none!important;
    padding-left: 0px!important;
 }
.get_dir_btn a , .get_dir_btn span  {
    color: #f9f9f8!important;
}

.store_ohrs ul.store-opening-hrs  {
    list-style: none!important;
    padding-left: 0px;
}
.store_ohrs ul.store-opening-hrs li {
    position: relative;
}

.store_ohrs ul.store-opening-hrs li span {
    position: absolute;
    left: 140px;
}

@media (max-width:1024px) {
    ul#topbar li a {
        font-size: 11px;
        padding: 5px;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 8px;
        font-size: 13px;
    }
}

@media (max-width:992px) {
    ul#topbar>li:last-child {
        display: block!important;
    }
	.product-row>div.col-md-3{
		padding: 10px 30px;
	}
    .social-icons-container {
        text-align: center;
    }
    .fl-button span.fl-button-text {
        color: #fff;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
        width: auto!important;
        color: #fff;
    }
    .fl-page-header-logo {
        text-align: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0px !important;
    }
    .max-width-issue img{
        max-width: 450px !important;
        margin: 0 auto !important;
    }
    li#field_10_3,
    li#field_9_3,
    li#field_14_10{
        padding-right: 0px !important;
    }
    #menu-copyright-bar-menu li{
        padding-bottom: 10px;
    }
	.max-width-issue img{
		max-width: 360px !important;
		margin: 0 auto !important;
	}
	.boxes-on-mobile-full-width .fl-node-content{
		max-width: 400px;
    	margin: 10px auto !important;
	}
	div.fl-builder-content .boxes-on-mobile-full-width{
		width: 100% !important;
	}
	footer *{
		text-align: center !important;
	} 
}

@media(max-width:767px) {
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 60%;
        float: left;
    }
	uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0 !important;
}
	
	footer ul.social-icons{
		display: flex;
		align-items: center;
		justify-content: center;
	}
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 40%;
        float: right;
    }
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: left!important;
    }
    ul#topbar>li:last-child {
        float: right!important;
    }
    .fl-module-heading h1.fl-heading {
        line-height: 48px!important;
    }
}

@media(max-width:450px) {
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 66%;
        float: left;
        padding: 0px;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 34%;
        float: right;
        padding: 0px;
    }
    .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
    footer .fl-col-group .boxes-on-mobile-full-width {
        width: 100%!important;
    }
}

.fl-page {
    width: auto !important;
}
.apply_now_btn a span{
    color: #f9f9f8!important;
}
.fl-page-bar .phone a{
    display: flex!important;
    padding: 0!important;
    align-items: center!important;
    justify-content: center!important;
} 
.fl-page-bar .phone a:before{
    content: "\f095"!important;
    margin-right: 4px;
    font: normal normal normal 14px/1 FontAwesome;
/*     color: #f9f9f8; */
} 


@media(max-width:500px){
    .fl-page-header-primary .fl-logo-img {
        height: 100px !important;
    }
    .uabb-photo-gallery-item  {
        width: 100% !important;
    }
    button#responsive-menu-button{
        top: 95px !important;
    }
}